In [1]:
import numpy as np
import pandas as pd

In [2]:
pd.set_option('display.max_columns', 0)
pd.set_option('display.max_rows', 500)

df_loan = pd.read_csv('loan.csv', low_memory=False)

In [3]:
df_loan.head()

        id  member_id  loan_amnt  funded_amnt  funded_amnt_inv        term     ...       max_bal_bc  all_util total_rev_hi_lim inq_fi total_cu_tl inq_last_12m
0  1077501    1296599     5000.0       5000.0           4975.0   36 months     ...              NaN       NaN              NaN    NaN         NaN          NaN
1  1077430    1314167     2500.0       2500.0           2500.0   60 months     ...              NaN       NaN              NaN    NaN         NaN          NaN
2  1077175    1313524     2400.0       2400.0           2400.0   36 months     ...              NaN       NaN              NaN    NaN         NaN          NaN
3  1076863    1277178    10000.0      10000.0          10000.0   36 months     ...              NaN       NaN              NaN    NaN         NaN          NaN
4  1075358    1311748     3000.0       3000.0           3000.0   60 months     ...              NaN       NaN              NaN    NaN         NaN          NaN

[5 rows x 74 columns]

In [4]:
good_loan =  len(df_loan[(df_loan.loan_status == 'Fully Paid') |
                    (df_loan.loan_status == 'Current') | 
                    (df_loan.loan_status == 'Does not meet the credit policy. Status:Fully Paid')])
print ('Good/Bad Loan Ratio: %.2f%%'  % (good_loan/len(df_loan)*100))

Good/Bad Loan Ratio: 91.45%

In [5]:
df_loan.loan_status.value_counts()

Current                                                601779
Fully Paid                                             207723
Charged Off                                             45248
Late (31-120 days)                                      11591
Issued                                                   8460
In Grace Period                                          6253
Late (16-30 days)                                        2357
Does not meet the credit policy. Status:Fully Paid       1988
Default                                                  1219
Does not meet the credit policy. Status:Charged Off       761
Name: loan_status, dtype: int64

In [6]:
df_loan.shape

(887379, 74)

In [7]:
df_loan.drop(['id', 'member_id', 'emp_title','title','url','zip_code','verification_status','home_ownership','issue_d','earliest_cr_line','last_pymnt_d','next_pymnt_d','desc','last_credit_pull_d', ], axis=1, inplace=True)

In [8]:
df_loan.count().sort_values()

dti_joint                         509
annual_inc_joint                  511
verification_status_joint         511
il_util                         18617
mths_since_rcnt_il              20810
open_acc_6m                     21372
open_il_6m                      21372
open_il_12m                     21372
open_il_24m                     21372
total_bal_il                    21372
inq_last_12m                    21372
total_cu_tl                     21372
open_rv_12m                     21372
open_rv_24m                     21372
max_bal_bc                      21372
all_util                        21372
inq_fi                          21372
mths_since_last_record         137053
mths_since_last_major_derog    221703
mths_since_last_delinq         433067
tot_cur_bal                    817103
tot_coll_amt                   817103
total_rev_hi_lim               817103
emp_length                     842554
revol_util                     886877
collections_12_mths_ex_med     887234
pub_rec                        887350
inq_last_6mths                 887350
total_acc                      887350
acc_now_delinq                 887350
delinq_2yrs                    887350
open_acc                       887350
annual_inc                     887375
application_type               887379
policy_code                    887379
loan_amnt                      887379
collection_recovery_fee        887379
funded_amnt                    887379
funded_amnt_inv                887379
term                           887379
int_rate                       887379
installment                    887379
grade                          887379
sub_grade                      887379
loan_status                    887379
pymnt_plan                     887379
purpose                        887379
addr_state                     887379
dti                            887379
revol_bal                      887379
initial_list_status            887379
out_prncp                      887379
out_prncp_inv                  887379
total_pymnt                    887379
total_pymnt_inv                887379
total_rec_int                  887379
total_rec_late_fee             887379
recoveries                     887379
last_pymnt_amnt                887379
total_rec_prncp                887379
dtype: int64

In [9]:
lack_of_data_idx = [x for x in df_loan.count() < 887379*0.1]
df_loan.drop(df_loan.columns[lack_of_data_idx], 1, inplace=True)

In [10]:
df_loan.count().sort_values()

mths_since_last_record         137053
mths_since_last_major_derog    221703
mths_since_last_delinq         433067
total_rev_hi_lim               817103
tot_coll_amt                   817103
tot_cur_bal                    817103
emp_length                     842554
revol_util                     886877
collections_12_mths_ex_med     887234
acc_now_delinq                 887350
total_acc                      887350
pub_rec                        887350
open_acc                       887350
inq_last_6mths                 887350
delinq_2yrs                    887350
annual_inc                     887375
total_rec_late_fee             887379
total_rec_int                  887379
total_pymnt_inv                887379
recoveries                     887379
collection_recovery_fee        887379
last_pymnt_amnt                887379
policy_code                    887379
application_type               887379
total_rec_prncp                887379
total_pymnt                    887379
loan_amnt                      887379
out_prncp                      887379
initial_list_status            887379
dti                            887379
addr_state                     887379
purpose                        887379
pymnt_plan                     887379
loan_status                    887379
sub_grade                      887379
grade                          887379
installment                    887379
int_rate                       887379
term                           887379
funded_amnt_inv                887379
funded_amnt                    887379
out_prncp_inv                  887379
revol_bal                      887379
dtype: int64

In [11]:
print (df_loan.mths_since_last_delinq.min(), df_loan.mths_since_last_delinq.max())
print(df_loan.mths_since_last_delinq.mean())
print(df_loan.mths_since_last_delinq.median())

0.0 188.0
34.06379844227337
31.0

In [12]:
df_loan.mths_since_last_delinq = df_loan.mths_since_last_delinq.fillna(df_loan.mths_since_last_delinq.median())

In [13]:
df_loan.count().sort_values()

mths_since_last_record         137053
mths_since_last_major_derog    221703
total_rev_hi_lim               817103
tot_coll_amt                   817103
tot_cur_bal                    817103
emp_length                     842554
revol_util                     886877
collections_12_mths_ex_med     887234
acc_now_delinq                 887350
total_acc                      887350
pub_rec                        887350
open_acc                       887350
inq_last_6mths                 887350
delinq_2yrs                    887350
annual_inc                     887375
total_pymnt_inv                887379
total_rec_late_fee             887379
total_rec_int                  887379
total_pymnt                    887379
recoveries                     887379
collection_recovery_fee        887379
last_pymnt_amnt                887379
policy_code                    887379
application_type               887379
total_rec_prncp                887379
out_prncp_inv                  887379
loan_amnt                      887379
initial_list_status            887379
mths_since_last_delinq         887379
dti                            887379
addr_state                     887379
purpose                        887379
pymnt_plan                     887379
loan_status                    887379
sub_grade                      887379
grade                          887379
installment                    887379
int_rate                       887379
term                           887379
funded_amnt_inv                887379
funded_amnt                    887379
out_prncp                      887379
revol_bal                      887379
dtype: int64

In [14]:
#df_loan.dropna(inplace=True)

In [15]:
#df_loan.count().sort_values()

In [16]:
# Calculate Good and Bad Loan Status Ratio
good_loan =  len(df_loan[(df_loan.loan_status == 'Fully Paid') |
                    (df_loan.loan_status == 'Current') | 
                    (df_loan.loan_status == 'Does not meet the credit policy. Status:Fully Paid')])
print ('Good/Bad Loan Ratio: %.2f%%'  % (good_loan/len(df_loan)*100))

Good/Bad Loan Ratio: 91.45%